#snake.py
freegames

#bomb-sound.py
playsound

#pendulem.py
numpy
matplotlib
scipy

#word_association.py
nltk
pandas
networkx

#testing.py
winsound

#Handwriting.py, Asciiart.py, info.py, search.py
pywhatkit
flask
